#wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 701px;
    transform: translate(-50%, -50%);
}
#wrapper img,
#wrapper object{
    position: absolute;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 50%;
    top: 50%;
}
.section-1 img,
.section-5 img{
    top: 50%;
    right: 50%;
}
.section-2 img,
.section-7 img{
    top: 50%;
    left: 50%;
}
.section-3 img,
.section-6 img{
    bottom: 50%;
    right: 50%;
}
.section-4 img,
.section-8 img {
    bottom: 50%;
    left: 50%;
}
.icon{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}
.section-1 .icon{
    left: 35%;
    bottom: 15%;
}
.section-2 .icon{
    right: 35%;
    bottom: 15%;
}
.section-3 .icon{
    left: 35%;
    top: 15%;
}
.section-4 .icon{
    right: 35%;
    top: 15%;
}
.section-5 .icon{
    left: 15%;
    bottom: 35%;
}
.section-6 .icon{
    left: 15%;
    top: 35%;
}
.section-7 .icon{
    right: 15%;
    bottom: 35%;
}
.section-8 .icon{
    right: 15%;
    top: 35%;
}

.section-1  img{
    filter: hue-rotate(0deg);
}
.section-2 img{
    filter: hue-rotate(40deg);
}
.section-3 img{
    filter: hue-rotate(80deg);
}
.section-4 img{
    filter: hue-rotate(120deg);
}
.section-5 img{
    filter: hue-rotate(160deg);
}
.section-6 img{
    filter: hue-rotate(200deg);
}
.section-7 img{
    filter: hue-rotate(240deg);
}
.section-8 img{
    filter: hue-rotate(280deg);
}
.icon img:nth-child(2) {
    display: none;
  }
.section-1 .colorchange,
.section-2 .colorchange,
.section-3 .colorchange,
.section-4 .colorchange {
    width: 135px;
    height: 190px;

}
.section-5 .colorchange,
.section-6 .colorchange,
.section-7 .colorchange,
.section-8 .colorchange {
    width: 190px;
    height: 135px;
}
